
/*
*     @font-face logic
*/
@font-face {
    font-family: 'genicons';
    src: url('/fonts/genicons/files/genicons.eot');
    src: url('/fonts/genicons/files/genicons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/genicons/files/genicons.woff') format('woff'),
         url('/fonts/genicons/files/genicons.svg#geniconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ****************************************************
 *  Icons with Text
 ******************************************************/ 
[data-icon]:before {
  font-family: 'genicons'; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

.icon-font{
  font-family: 'genicons';
}

/* ***********************************************************************
 *  Icons without Text (special markup for screen-readers)
 *************************************************************************/ 

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}
