
/*
*     @font-face logic
*/

@font-face {
  font-family: 'genicons';
  src: url('/fonts/genicons/files/genicons.eot?10182012#iefix') format('embedded-opentype'), 
       url('/fonts/genicons/files/genicons.woff?10182012') format('woff'), 
       url('/fonts/genicons/files/genicons.ttf?10182012')  format('truetype'),
       url('/fonts/genicons/files/genicons.svg?10182012#svgFontName') format('svg');
}



/* ****************************************************
 *  Icons with Text
 ******************************************************/ 
[data-icon]:before {
  font-family: 'genicons'; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
  -webkit-font-smoothing: antialiased;
}

.icon-font{
  font-family: 'genicons';
}

/* ***********************************************************************
 *  Icons without Text (special markup for screen-readers)
 *************************************************************************/ 

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}



/* ***********************************************************************
 *  Customizations
 *************************************************************************/ 

.blue[data-icon]                  { color: #0064B1; }
.pushpin-green[data-icon]         { color: #5c8b3c;  } 

.info[data-icon]                  { font-size: 17px; line-height: 10px; cursor: pointer; }
.info[data-icon]:hover            { opacity: 0.8; }

.pushpin                          { overflow: visible; margin: 3px; }
.pushpin[data-icon]               { font-size: 30px; line-height: 3px; padding: 2px; } 
.pushpin.pinned[data-icon]        { color: red; }

.small[data-icon]                 { font-size: 12px }
.medium[data-icon]                { font-size: 15px }